<div class="container my-4">
  <div class="row justify-content-center">
    <h4><i class="fa-solid fa-bookmark"></i>&nbsp;ブックマーク一覧</h4>
  </div>
</div>

<div class="flex">
  <div class="day-box">
    <%= render 'day_records/dayrecord_index', value: false %>
  </div>
  
  <!--日付から曜日を表示するため-->
  <% days = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"] %>
  
  <% @bookmarks.each do |bookmark| %>
    <div class="day-box">
      
      <div class="day-index">
        <div id="bookmark_only_btn_<%= bookmark.day_record.id %>">
          <%= render 'bookmarks/bookmark_only',bookmark: bookmark %>
        </div>
        <%= link_to "#{bookmark.day_record.year_month_date.strftime("%m月%d日")} #{days[bookmark.day_record.year_month_date.wday]}", day_record_path(bookmark.day_record) %>
      </div>
      <div class="day-index"><%= (bookmark.day_record.food_cost).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.commodity).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.clothing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.clothing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.medical_beauty).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.transport).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.socializing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.amusement).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (bookmark.day_record.day_other).to_s(:delimited) %>円</div>
      <div class="day-index expenditure-total"><%= (bookmark.day_record.day_expenditure_total).to_s(:delimited) %>円</div>
       <!--truncate(bookmark.day_record.memo, :length => ○で表示文字数指定、文字の後ろの"..."が3文字として含まれ表示される-->
      <div class="day-index memo-box"><p><%= truncate(bookmark.day_record.memo, :length => 7) %></p></div>
    
    </div>
  <% end %>
</div>

<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <%= paginate @bookmarks %>
  </div>
</div>