<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h4>各月収支一覧</h4>
    </div>
  </div>
</div>
  <div class="flex">
    <div class="month-box">
      <div class="month-title">項目・年月</div>
      <div class="month-title">前月からのくりこし</div>
      <div class="month-title">収入</div>
      <div class="month-title">収入合計</div>
      <div class="month-title">水道</div>
      <div class="month-title">ガス</div>
      <div class="month-title">電気</div>
      <div class="month-title">電話</div>
      <div class="month-title">貯金</div>
      <div class="month-title">保険</div>
      <div class="month-title">クレジットカード</div>
      <div class="month-title">その他</div>
      <div class="month-title">支出合計</div>
      <div class="month-title">使えるお金</div>
    </div>
    <% @month_records.each do |month_record| %>
      <div class="month-box">
        <div class="month-index"><%= link_to month_record.year_month.strftime("%Y/%m"), month_record_path(month_record) %></div>
        <div class="month-index"><%= (month_record.brought_forward).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.income).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.income_total).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.water_fare).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.gas_fare).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.electrical_fare).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.telephone_fare).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.deposit).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.insurance).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.credit_card).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.month_other).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.expenditure_total).to_s(:delimited) %></div>
        <div class="month-index"><%= (month_record.freedom_money).to_s(:delimited) %></div>
      </div>  
    <% end %>
  </div>
  <%= paginate @month_records %>
