<div class="container my-4">
  <div class="row mb-3 justify-content-center">
    <%= flash[:save] %>
    <%= flash[:update] %>
  </div>
  <div class="row justify-content-center">
    <h4><%= @month_record.year_month.strftime("%Y年%m月") %>　収入・決まっている支出詳細</h4>
  </div>
  
  <div class="row justify-content-center">
    
    <div class="row col-md-10">
      <div class="col-md-5 mt-4 mb-1"></div>
      <div class="col-md-3 mt-4 mb-1 font-weight-bold">内容</div>
      <div class="col-md-2 mt-4 mb-1 font-weight-bold text-center">金額</div>
    </div>
    
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 font-weight-bold">今月の収入</div>
      <div class="col-md-3"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">前月からのくりこし</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.brought_forward).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">収入</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.income).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1 font-weight-bold">収入合計</div>
      <div class="col-md-2 my-1 mb-2 font-weight-bold text-right"><%= (@month_record.income_total).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1 font-weight-bold">今月の決まっている支出</div>
      <div class="col-md-3 my-1"></div>
      <div class="col-md-2 my-1"></div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">水道</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.water_fare).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">ガス</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.gas_fare).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">電気</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.gas_fare).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">電話</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.telephone_fare).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">貯金</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.deposit).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">保険</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.insurance).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">クレジットカード</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.credit_card).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1">その他</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@month_record.month_other).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center mb-2">
      <div class="col-md-3 my-1"></div>
      <div class="col-md-3 my-1 font-weight-bold">支出合計</div>
      <div class="col-md-2 my-1 mb-2 font-weight-bold text-right"><%= (@month_record.expenditure_total).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 pt-3 total-border"></div>
      <div class="col-md-3 pt-3 font-weight-bold total-border">今月の使えるお金</div>
      <div class="col-md-2 pt-3 mb-2 font-weight-bold text-right total-border"><%= (@month_record.freedom_money).to_s(:delimited) %>円</div>
    </div>
    
    <div class="row col-md-10 mt-3 mb-5 justify-content-center">
      <%= link_to "編集する", edit_month_record_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
  
