<div class="container my-4">
  <div class="simple-calendar">
    <div class="calendar-heading">
      <h4 class="row mb-3 justify-content-center">
        <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view %><!--前月を<<で表示した-->
        <span class="calendar-title"><%= start_date.year %>年<%= link_to t('date.month_names')[start_date.month], new_month_record_path %></span><!--年と月入れ替え-->
        <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view %>
      </h4>
    </div>
  
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <% date_range.slice(0, 7).each do |day| %>
            <% if day.wday == 0 %>
              <th class="text-danger"><%= t('date.abbr_day_names')[day.wday] %></th>
            <% elsif day.wday == 6 %>
              <th class="text-primary"><%= t('date.abbr_day_names')[day.wday] %></th>
            <% else %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
  
      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
