<div class="container signin-height">
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="w-50 border border-success my-5 mx-auto">
    <div class="row mt-3 justify-content-center">
      <h4>ログイン</h4>
    </div>
    <div class="row justify-content-center text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field pt-1 pb-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: '34' %>
        </div>
        <div class="field pt-1 pb-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", size: '34' %>
        </div>
          <% if devise_mapping.rememberable? %>
            <div class="field pt-1 pb-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-outline-success" %>
            </div>
          <% end %>
      </div>
      <div class="row py-3 justify-content-center">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>