<div class="container mt-4 mb-5">
  
    <%= form_with  url: day_genres_path, method: :get do |f| %>
      <div class="row justify-content-center">
        <h4>
          <% if @params == "food_cost" %>
            <i class="fas fa-hamburger"></i>&ensp;食費&ensp;
          <% elsif @params == "commodity" %>
            <i class="fas fa-shopping-cart"></i>&ensp;日用品&ensp;
          <% elsif @params == "clothing" %>
            <i class="fas fa-tshirt"></i>&ensp;被服&ensp;
          <% elsif @params == "educate" %>
            <i class="fas fa-book-open"></i>&ensp;教育・教養&ensp;
          <% elsif @params == "medical_beauty" %>
            <i class="fas fa-heart"></i>&ensp;医療・美容&ensp;
          <% elsif @params == "transport" %>
            <i class="fas fa-bus-alt"></i>&ensp;交通&ensp;
          <% elsif @params == "socializing" %>
            <i class="fas fa-gift"></i>&ensp;交際&ensp;
          <% elsif @params == "amusement" %>
            <i class="fa-solid fa-icons"></i>&ensp;娯楽&ensp;
          <% elsif @params == "day_other" %>
            <i class="fas fa-smile"></i>&ensp;その他&ensp;
          <% end %>

          <%= f.date_select :year_month_date, {:discard_day => true, :use_month_numbers => true, :date_separator => "年", selected: Date.new(@year, @month) } %>月の記録
        </h4>
        <%= f.hidden_field :item, value: @params %>
        <p>　<%= f.submit "検索する", class: "btn btn-success btn-sm" %></p>
      </div>
    <% end %>
    
    <!--each文の中の日付から曜日を表示で使用-->
    <% days = ["(日)","(月)","(火)","(水)","(木)","(土)","(日)"] %>
    
    <% if @user_day_records.present? %>

      <% if @day_records.present? %>
        <div class="row justify-content-center">
          <div class="col-md-3 mt-4 mb-1 font-weight-bold text-center">日付</div>
          <div class="col-md-3 mt-4 mb-1 font-weight-bold text-center">金額</div>
        </div>
        <% @day_records.each do |item| %>
        <div class="row">
          <div class="col-md-3 mt-2 text-center offset-3">
            <%= "#{item.year_month_date.strftime("%Y年%m月%d日")} #{days[item.year_month_date.wday]}" %>
          </div>
          <div class="col-md-2 mt-2 text-right">
            <% if @params == "food_cost" %><!--食費-->
              <%= item.food_cost %>円
              
            <% elsif @params == "commodity" %><!--日用品-->
              <%= item.commodity %>円
            
            <% elsif @params == "clothing" %><!--被服-->
              <%= item.clothing %>円
              
            <% elsif @params == "educate" %><!--教育・教養-->
              <%= item.educate %>円
            
            <% elsif @params == "medical_beauty" %><!--医療・美容-->
               <%= item.medical_beauty %>円
            
            <% elsif @params == "transport" %><!--交通-->
              <%= item.transport %>円
            
            <% elsif @params == "socializing" %><!--交際-->
              <%= item.socializing %>円
              
            <% elsif @params == "amusement" %><!--娯楽-->
              <%= item.amusement %>円
            
            <% elsif @params == "day_other" %><!--日その他-->
              <%= item.day_other %>円
            
            <% end %>
          </div>
        </div>
          
        <% end %>
      
      <% else %>
        <div class="row justify-content-center">
          <div class="col-4 mt-3 text-center">
            <h5>この項目の記録は全て0円です<i class="fas fa-sign-language"></i></h5>
          </div>
        </div>
      <% end %>
    
    <% else %>
      <div class="row justify-content-center">
        <div class="col-4 mt-3 text-center">
          <h5>記録がありません
          <i class="fas fa-pencil-alt"></i>今日の記録から記録してみましょう！</h5>
        </div>
      </div>
    <% end %>
    
    <%= link_to "<< 週間支出一覧へ戻る", day_records_path %>
</div>
