<div class="container my-4">
  <%= form_with model: @day_record, url: day_record_path(@day_record.id), method: :patch do |f| %>
    <div class="row justify-content-center">
      <h4>
        <%= @day_record.year_month_date.strftime("%Y年%m月%d日") %>の支出編集
      </h4>
    </div>
    
    <div class="row justify-content-center">
      
      <div class="row col-md-10 justify-content-center">
        <div class="col-md-3 my-4 mb-1 font-weight-bold">項目</div>
        <div class="col-md-3 my-4 mb-1 pl-0 font-weight-bold text-center">金額</div>
      </div>
      
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">食費</div>
          <div class="col-md-4 my-1"><%= f.number_field :food_cost %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">日用品</div>
          <div class="col-md-4 my-1"><%= f.number_field :commodity %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">被服</div>
          <div class="col-md-4 my-1"><%= f.number_field :clothing %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">教育・教養</div>
          <div class="col-md-4 my-1"><%= f.number_field :educate %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">医療・美容</div>
          <div class="col-md-4 my-1"><%= f.number_field :medical_beauty %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">交通</div>
          <div class="col-md-4 my-1"><%= f.number_field :transport %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">交際</div>
          <div class="col-md-4 my-1"><%= f.number_field :socializing %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">娯楽</div>
          <div class="col-md-4 my-1"><%= f.number_field :amusement %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">その他</div>
          <div class="col-md-4 my-1"><%= f.number_field :day_other %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">メモ・日記</div>
          <div class="col-md-4 my-1"><%= f.text_area :memo, rows:'2', placeholder: "メモ・日記入力欄", size: '22' %></div>
        </div>
        
        <div class="col-md-3 text-center pt-2">
          <%= flash[:check] %>
        </div>
        
        <div class="row col-md-10 mt-3 mb-5 justify-content-center">
          <%= f.submit "記録する" %>
        </div>

    </div>
  <% end %>
</div>