<div class="container my-4">
  <div class="row justify-content-center">
    <%= flash[:fraud] %>
  </div>
  <div class="row justify-content-center">
    <h4>週間支出一覧</h4>
  </div>
</div>

<div class="flex">
  <div class="day-box">
    <div class="day-title oblique-line"><div></div><p class="title-item m-0">項目</p><p class="title-day m-0">月日</p></div>
    <div class="day-title">
      <%= link_to "食費", day_genres_path(item: "food_cost") %>
    </div>
    <div class="day-title">
      <%= link_to "日用品", day_genres_path(item: "commodity") %>
    </div>
    <div class="day-title">
      <%= link_to "被服", day_genres_path(item: "clothing") %>
    </div>
    <div class="day-title">
      <%= link_to "教育・教養", day_genres_path(item: "educate") %>
    </div>
    <div class="day-title">
      <%= link_to "医療・美容", day_genres_path(item: "medical_beauty") %>
    </div>
    <div class="day-title">
      <%= link_to "交通", day_genres_path(item: "transport") %>
    </div>
    <div class="day-title">
      <%= link_to "交際", day_genres_path(item: "socializing") %>
    </div>
    <div class="day-title">
      <%= link_to "娯楽", day_genres_path(item: "amusement") %>
    </div>
    <div class="day-title">
      <%= link_to "その他", day_genres_path(item: "day_other") %>
    </div>
    <div class="day-title">合計金額</div>
    <div class="day-title">メモ・日記</div>
  </div>

  <% days = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"] %>
  <% @day_records.each do |day_record| %>
    <div class="day-box">
      <div class="day-index">
        <div id="index_bookmark_btn_<%= day_record.id %>">
          <%= render 'bookmarks/bookmark_index', day_record: day_record %>
        </div>
        <%= link_to "#{day_record.year_month_date.strftime("%m月%d日")} #{days[day_record.year_month_date.wday]}", day_record_path(day_record) %>
      </div>
      <div class="day-index"><%= (day_record.food_cost).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.commodity).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.clothing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.educate).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.medical_beauty).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.transport).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.socializing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.amusement).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.day_other).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.day_expenditure_total).to_s(:delimited) %>円</div>
       <!--truncate(day_record.memo, :length => ○で表示文字数指定、文字の後ろの"..."が3文字として含まれ表示される-->
      <div class="day-index memo-box"><p><%= truncate(day_record.memo, :length => 7) %></p></div>
    </div>
  <% end %>
</div>

<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <%= paginate @day_records %>
  </div>
</div>