<div class="container my-2">
  
  <div class="row mb-3 justify-content-center">
    <p class="fraud-background-color"><%= flash[:fraud] %></p>
  </div>
  
  <div class="row justify-content-center">
    <h4><i class="fas fa-calendar-week"></i>&nbsp;週間支出一覧</h4>
  </div>
</div>

<div class="flex">
  
  <div class="day-box">
    <%= render 'dayrecord_index' %>
  </div>
  <!--日付から曜日を表示するため-->
  <% days = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"] %>
  
  <% @day_records.each do |day_record| %>
    <div class="day-box">
      <div class="day-index">
        <!--一覧から項目ごとの詳細に遷移できるようにしている-->
        <div id="index_bookmark_btn_<%= day_record.id %>">
          <%= render 'bookmarks/bookmark_index', day_record: day_record %>
        </div>
        <%= link_to "#{day_record.year_month_date.strftime("%m月%d日")} #{days[day_record.year_month_date.wday]}", day_record_path(day_record) %>
      </div>
      <div class="day-index"><%= (day_record.food_cost).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.commodity).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.clothing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.educate).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.medical_beauty).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.transport).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.socializing).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.amusement).to_s(:delimited) %>円</div>
      <div class="day-index"><%= (day_record.day_other).to_s(:delimited) %>円</div>
      <div class="day-index expenditure-total"><%= (day_record.day_expenditure_total).to_s(:delimited) %>円</div>
       <!--truncate(day_record.memo, :length => ○で表示文字数指定、文字の後ろの"..."が3文字として含まれ表示される-->
      <div class="day-index memo-box"><p><%= truncate(day_record.memo, :length => 7) %></p></div>
    </div>
  <% end %>
  
</div>

<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <%= paginate @day_records %>
  </div>
</div>