<div class="container my-4">
  <!--バリデーション-->
  <% if @day_record.errors.any? %>
    <div class="row justify-content-center">
      <h5 class="font-weight-bold text-danger"><%= @day_record.errors.count %>件のエラーが発生しました</h5>
    </div>
    <ul>
      <% @day_record.errors.full_messages.each do |message| %>
        <li class="col-md-3 m-center pl-0 text-left offset-5"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form_with model: @day_record, url: day_records_path, method: :post do |f| %>
    <div class="row justify-content-center">
      <!--rawとh4タグの中の赤色の=は同じ意味、sprintfはRubyの関数-->
      <!--オプション：月を英語から数字表記、フィールドとフィールドの間に文字を表示-->
      <h4>
        <i class="fas fa-pencil-alt"></i>&nbsp;
        <%==
          sprintf(
            f.date_select(
              :year_month_date, {
                use_month_numbers: true,
                date_separator: '%s'}
            ),
            '年 ', '月 '
          ) + '日'
        %> の支出記録
      </h4>
    </div>
    
    <div class="row justify-content-center">
      
      <div class="row col-md-10 justify-content-center">
        <div class="col-md-3 my-4 mb-1 font-weight-bold">項目</div>
        <div class="col-md-3 my-4 mb-1 pl-0 font-weight-bold text-center">金額</div>
      </div>
      
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">食費</div>
          <div class="col-md-4 my-1"><%= f.number_field :food_cost %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">日用品</div>
          <div class="col-md-4 my-1"><%= f.number_field :commodity %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">被服</div>
          <div class="col-md-4 my-1"><%= f.number_field :clothing %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">教育・教養</div>
          <div class="col-md-4 my-1"><%= f.number_field :educate %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">医療・美容</div>
          <div class="col-md-4 my-1"><%= f.number_field :medical_beauty %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">交通</div>
          <div class="col-md-4 my-1"><%= f.number_field :transport %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">交際</div>
          <div class="col-md-4 my-1"><%= f.number_field :socializing %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">娯楽</div>
          <div class="col-md-4 my-1"><%= f.number_field :amusement %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">その他</div>
          <div class="col-md-4 my-1"><%= f.number_field :day_other %>円</div>
        </div>
        <div class="row col-md-10 justify-content-center">
          <div class="col-md-3 pt-2 offset-1">メモ・日記</div>
          <div class="col-md-4 my-1"><%= f.text_area :memo, rows:'2', placeholder: "メモ・日記入力欄", size: '22' %></div>
        </div>
        
        <div class="col-md-3 text-center pt-2">
          <%= flash[:check] %>
        </div>
        
        <div class="row col-md-10 mt-3 mb-5 justify-content-center">
          <%= f.submit "記録する", class: "btn btn-primary" %>
        </div>

    </div>
  <% end %>
</div>