<div class="container mt-4 mb-5">
  
  <div class="row mb-3 px-1 justify-content-center">
    <div class="save-background-color"><%= flash[:save] %></div>
    <div class="update-background-color"><%= flash[:update] %></div>
  </div>
  <div class="row justify-content-center">
    
    <!--日付から曜日を表示するため-->
    <% days = ["(日)","(月)","(火)","(水)","(木)","(土)","(日)"] %>
    
      <h4 class="bookmarks_buttons">
        <%= render 'bookmarks/bookmark_show', day_record: @day_record %>
      </h4>
    <h4>
      <%= "#{@day_record.year_month_date.strftime("%Y年%m月%d日")} #{days[@day_record.year_month_date.wday]}" %>&emsp;支出詳細
    </h4>
  </div>
  
  <div class="row justify-content-center">
    
    <div class="row col-md-4">
      <div class="col-md-9 my-4 mb-1 pl-0 font-weight-bold">項目</div>
      <div class="col-md-3 my-4 mb-1 pr-3 font-weight-bold text-right">金額</div>
    </div>
    
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">食費</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.food_cost).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">日用品</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.commodity).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">被服</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.clothing).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">教育・教養</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.educate).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">医療・美容</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.medical_beauty).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">交通</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.transport).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">交際</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.socializing).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">娯楽</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.amusement).to_s(:delimited) %>円</div>
    </div>
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-3 my-1">その他</div>
      <div class="col-md-2 my-1 mb-2 text-right"><%= (@day_record.day_other).to_s(:delimited) %>円</div>
    </div>
    
    <div class="row col-md-10 justify-content-center mb-2">
      <div class="col-md-3 my-2 font-weight-bold">合計金額</div>
      <div class="col-md-2 my-2 mb-2 font-weight-bold text-right"><%= (@day_record.day_expenditure_total).to_s(:delimited) %>円</div>
    </div>
    
    <div class="row col-md-10 justify-content-center">
      <div class="col-md-2 my-1">メモ・日記</div>
      <div class="col-md-3 mt-1 mb-2 p-0"><%= @day_record.memo %></div>
    </div>
    
    <div class="row col-md-10 mt-3 mb-5 justify-content-center">
      <%= link_to "編集する", edit_day_record_path, class: "btn btn-success" %>
    </div>
  </div>
  
  <div class="comment_index">
    <%= render 'day_comments/comment_index', day_record: @day_record %>
  </div>
  <!--textareaはもともと非同期通信なのでclassを作らなくていい-->
  <!--jsファイルでの記述はtextarea内を空白にする記述のみでいい-->
  <%= render 'day_comments/comment_form', day_record: @day_record, day_comment: @day_comment %>
</div>