<% days = ["(日)","(月)","(火)","(水)","(木)","(土)","(日)"] %>
<h3><%= "#{@day_record.year_month_date.strftime("%Y年%m月%d日")} #{days[@day_record.year_month_date.wday]}" %>　支出詳細</h3>

<% if @day_record.bookmarked_by?(current_user) %>
  <p><%= link_to "ブックマーク外す", day_record_bookmarks_path(@day_record), method: :delete %></p>
<% else %>
  <p><%= link_to "ブックマークする", day_record_bookmarks_path(@day_record), method: :post %></p>
<% end %>

<p>食費<%= (@day_record.food_cost).to_s(:delimited) %>円</p>
<p>日用品<%= (@day_record.commodity).to_s(:delimited) %>円</p>
<p>被服<%= (@day_record.clothing).to_s(:delimited) %>円</p>
<p>教育・教養<%= (@day_record.educate).to_s(:delimited) %>円</p>
<p>医療・美容<%= (@day_record.medical_beauty).to_s(:delimited) %>円</p>
<p>交通<%= (@day_record.transport).to_s(:delimited) %>円</p>
<p>交際<%= (@day_record.socializing).to_s(:delimited) %>円</p>
<p>娯楽<%= (@day_record.amusement).to_s(:delimited) %>円</p>
<p>その他<%= (@day_record.day_other).to_s(:delimited) %>円</p>

<p>合計金額<%= (@day_record.day_expenditure_total).to_s(:delimited) %>円</p>

<p>メモ・日記<%= @day_record.memo %></p>

<p><%= link_to "編集する", edit_day_record_path %></p>


<!--1日の記録にコメント-->
<div>
  <% @day_record.day_comments.each do |day_comment| %>
    <p><%= day_comment.created_at.strftime('%Y/%m/%d') %>のコメント：<%= day_comment.comment %></p>
    <p><%= link_to "削除", day_record_day_comment_path(day_comment.day_record, day_comment), method: :delete %></p>
  <% end %>
</div>
<div>
  <%= form_with model: [@day_record, @day_comment] do |f| %>
    <%= f.text_area :comment, rows:'3', placeholder: "コメント欄" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>