<header>
  <nav class="navbar navbar-expand-lg navbar-light header-bg-color">
    <a class="navbar-brand" href="/"><h2 class="mb-0"><%= image_tag 'rogomane.jpg', :size => '200x80' %></h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= notice %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active ml-auto">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item active ml-auto">
            <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li class="nav-item active ml-auto">
            <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container mt-3">
    <div class="row justify-content-center">
        <% if user_signed_in? %>
          <ul class="navbar-nav list-group list-group-horizontal">
            <li class="nav-item list-group-item">
              <%= link_to user_path(current_user) do %>
                <i class="fa-regular fa-calendar-days"></i> カレンダー
              <% end %>
            </li>
            <li class="nav-item list-group-item">
              <%= link_to new_month_record_path do %>
                <i class="fas fa-moon"></i> 今月の記録
              <% end %>
            </li>
            <li class="nav-item list-group-item">
              <%= link_to new_day_record_path do %>
                <i class="fas fa-pencil-alt"></i> 今日の記録
              <% end %>
            </li>
            <li class="nav-item list-group-item">
              <%= link_to month_records_path do %>
                <i class="fas fa-table"></i> 各月収支一覧
              <% end %>
            </li>
            <li class="nav-item list-group-item">
              <%= link_to day_records_path do %>
                <i class="fas fa-calendar-week"></i> 週間支出一覧
              <% end %>
            </li>
            <li class="nav-item list-group-item">
              <%= link_to bookmarks_month_records_path do %>
                <i class="fa-solid fa-bookmark"></i> ブックマーク
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>  
</header>